<h1>Textarea</h1>

<h2>Example</h2>
<div class="bs-docs-example">
    <d-formspy class="form-horizontal">
        <f-textarea label="About">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</f-textarea>
    </d-formspy>
</div>

<pre class="prettyprint linenums">
{% set textareaExample1 %}
<f-textarea label="About">
    Lorem ipsum dolor ...
</f-textarea>{% endset %}{{textareaExample1|e}}
</pre>


<h2>Rows and Cols</h2>
<div class="bs-docs-example">
    <d-formspy class="form-horizontal">
        <f-textarea label="About" rows="15" cols="15">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</f-textarea>
    </d-formspy>
</div>

<pre class="prettyprint linenums">
{% set textareaExample2 %}
<f-textarea label="About" rows="15" cols="15">
    Lorem ipsum dolor ...
</f-textarea>{% endset %}{{textareaExample2|e}}
</pre>

<h2>Label with Tags</h2>
<div class="bs-docs-example">
    <d-formspy class="form-horizontal">
        <f-textarea>
            <label><em>About</em></label>
            <textarea>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea>
        </f-textarea>
    </d-formspy>
</div>

<pre class="prettyprint linenums">
{% set textareaExample3 %}
<f-textarea>
    <label><em>About</em></label>
    <textarea>Lorem ipsum dolor ...</textarea>
</f-textarea>{% endset %}{{textareaExample3|e}}
</pre>

<h2>Placeholder</h2>
<div class="bs-docs-example">
    <d-formspy class="form-horizontal">
        <f-textarea label="About" placeholder="please enter some text here"></f-textarea>
    </d-formspy>
</div>

<pre class="prettyprint linenums">
{% set textareaExample4 %}
<f-textarea label="About" placeholder="please enter some text here"></f-textarea>{% endset %}{{textareaExample4|e}}
</pre>

<h2>Filter Example</h2>
<div class="bs-docs-example">
    <d-formspy class="form-horizontal">
        <f-textarea label="About" rows="15" filter='["Trim", "Uppercase"]'>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </f-textarea>
    </d-formspy>
</div>

<pre class="prettyprint linenums">
{% set textareaExample5 %}
<f-textarea label="About" rows="15" filter='["Trim", "Uppercase"]'>
    Lorem ipsum dolor ...
</f-textarea>{% endset %}{{textareaExample5|e}}
</pre>

<h2>Validation text area</h2>
<div class="bs-docs-example">
    <d-formspy class="form-horizontal">
        <f-validation-textarea label="About" validator='{"base": "Length", "params": {"min": 10, "max": 50}}'>Too long. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</f-validation-textarea>
    </d-formspy>
</div>

<pre class="prettyprint linenums">
{% set textareaExample6 %}
<f-validation-textarea label="About" validator='{"base": "Length", "params": {"min": 10, "max": 50}}'>
    Too long. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
</f-validation-textarea>{% endset %}{{textareaExample6|e}}
</pre>


<h2>Expanding text area</h2>

<p>Mixin <code>expand</code> to make a text area expand to match the length of it's content.</p>
<div class="bs-docs-example">
    <d-formspy class="form-horizontal">
        <f-textarea label="About" mixins="expand" help-messages="this will expand to fit">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</f-textarea>
    </d-formspy>
</div>

<pre class="prettyprint linenums">
{% set textareaExample6 %}
<f-textarea label="About" mixins="expand" help-messages="this will expand to fit">
    Lorem ipsum dolor ...
</f-textarea>{% endset %}{{textareaExample6|e}}
</pre>
