<h1>Dropdown Toggle</h1>

<p class="lead">Show and hide dropdowns.</p>
<p>Use <code>dropdown-toggle</code> to make a <a href="/api/havok/widget/DropdownToggle.html">havok/widget/DropdownToggle</a>.

<p>Use a <code>dropdown-toggle</code> to wrap a <code>dropdown</code> to show/hide the <code>dropdown</code></p>

<p>The first child element inside a <code>havok/widget/DropdownToggle</code> is the `button` which will toggle the dropdown. The first <code>havok/widget/Dropdown</code> child widget inside a <code>havok/widget/DropdownToggle</code> will be toggled.</p>

<h2>With a button</h2>

<div class="bs-docs-example">
    <dropdown-toggle>
        <button class="btn">Show Dropdown <b class="caret"></b></button>
        <dropdown>
            <a href="http://google.com">Action</a>
            <a href="anotherAction">Another action</a>
            <a href="">Something else here</a>
            <hr />
            <a href="">Separated link</a>
        </dropdown>
    </dropdown-toggle>
</div>
<pre class="prettyprint linenums">
{% set dropdownToggleExample1 %}
<dropdown-toggle>
    <button class="btn">Show Dropdown <b class="caret"></b></button>
    <dropdown>
        <a href="http://google.com">Action</a>
        <a href="anotherAction">Another action</a>
        <a href="">Something else here</a>
        <hr />
        <a href="">Separated link</a>
    </dropdown>
</dropdown-toggle>{% endset %}{{dropdownToggleExample1|e}}
</pre>

<h2>Within a navbar</h2>

<div class="bs-docs-example">
    <div class="navbar navbar-static">
        <div class="navbar-inner">
            <div class="container" style="width: auto;">
                <a class="brand" href="">Project Name</a>
                <ul class="nav" role="navigation">
                    <dropdown-toggle>
                        <a href="">Dropdown <b class="caret"></b></a>
                        <dropdown>
                            <a href="http://google.com">Action</a>
                            <a href="anotherAction">Another action</a>
                            <a href="">Something else here</a>
                            <hr />
                            <a href="">Separated link</a>
                        </dropdown>
                    </dropdown-toggle>
                    <dropdown-toggle>
                        <a href="">Dropdown Container <b class="caret"></b></a>
                        <dropdown-container>
                            <h5>Stuff here</h5>
                            <p>This is stuff inside a dropdown</p>
                        </dropdown-container>
                    </dropdown-toggle>
                </ul>
                <ul class="nav pull-right">
                    <dropdown-toggle>
                        <a href="" >Dropdown Right <b class="caret"></b></a>
                        <dropdown>
                            <a href="">Action</a>
                            <a href="">Another action</a>
                            <a href="">Something else here</a>
                            <hr />
                            <a href="">Separated link</a>
                        </dropdown>
                    </dropdown-toggle>
                </ul>
            </div>
        </div>
    </div>
</div>
<pre class="prettyprint linenums">{% set dropdownToggleExample2 %}
<div class="navbar navbar-static">
    <div class="navbar-inner">
        <div class="container" style="width: auto;">
            <a class="brand" href="">Project Name</a>
            <ul class="nav" role="navigation">
                <dropdown-toggle>
                    <a href="">Dropdown <b class="caret"></b></a>
                    <dropdown>
                        <a href="http://google.com">Action</a>
                        <a href="anotherAction">Another action</a>
                        <a href="">Something else here</a>
                        <hr />
                        <a href="">Separated link</a>
                    </dropdown>
                </dropdown-toggle>
                <dropdown-toggle>
                    <a href="">Dropdown Container <b class="caret"></b></a>
                    <dropdown-container>
                        <h5>Stuff here</h5>
                        <p>This is stuff inside a dropdown</p>
                    </dropdown-container>
                </dropdown-toggle>
            </ul>
            <ul class="nav pull-right">
                <dropdown-toggle>
                    <a href="" >Dropdown Right <b class="caret"></b></a>
                    <dropdown>
                        <a href="">Action</a>
                        <a href="">Another action</a>
                        <a href="">Something else here</a>
                        <hr />
                        <a href="">Separated link</a>
                    </dropdown>
                </dropdown-toggle>
            </ul>
        </div>
    </div>
</div>{% endset %}{{dropdownToggleExample2|e}}
</pre>

<h2>Within pills</h2>
<div class="bs-docs-example">
    <ul class="nav nav-pills">
        <li class="active"><a href="">Regular link</a></li>
        <dropdown-toggle>
            <a href="">Dropdown <b class="caret"></b></a>
            <dropdown>
                <a href="">Action</a>
                <a href="">Another action</a>
                <a href="">Something else here</a>
                <hr />
                <a href="">Separated link</a>
            </dropdown>
        </dropdown-toggle>
        <dropdown-toggle>
            <a href="">Dropdown 2 <b class="caret"></b></a>
            <dropdown>
                <a href="">Action</a>
                <a href="">Another action</a>
                <a href="">Something else here</a>
                <hr />
                <a href="">Separated link</a>
            </dropdown>
        </dropdown-toggle>
        <dropdown-toggle>
            <a href="">Dropdown 3 <b class="caret"></b></a>
            <dropdown>
                <a href="">Action</a>
                <a href="">Another action</a>
                <a href="">Something else here</a>
                <hr />
                <a href="">Separated link</a>
            </dropdown>
        </dropdown-toggle>
    </ul>
</div>
<pre class="prettyprint linenums">
{% set dropdownToggleExample3 %}
<ul class="nav nav-pills">
    <li class="active"><a href="">Regular link</a></li>
    <dropdown-toggle>
        <a href="">Dropdown <b class="caret"></b></a>
        <dropdown>
            <a href="">Action</a>
            <a href="">Another action</a>
            <a href="">Something else here</a>
            <hr />
            <a href="">Separated link</a>
        </dropdown>
    </dropdown-toggle>
    ...
</ul>{% endset %}{{dropdownToggleExample3|e}}
</pre>

<h2>Within overflow hidden element</h2>
<p>The Dropdown dom nodes is moved to the end of the document, removing any clipping problems, or display issues with dropdowns in modals.</p>
<div class="bs-docs-example">
    <div style="width: 100px; overflow: hidden">
        <dropdown-toggle>
            <button class="btn" style="width:110px">Dropdown <b class="caret"></b></button>
            <dropdown>
                <a href="">Action</a>
                <a href="">Another action</a>
                <a href="">Something else here</a>
                <hr />
                <a href="">Separated link</a>
            </dropdown>
        </dropdown-toggle>
        <p style="width:300px">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
    </div>
</div>

<h2>Programatic Example</h2>

<p>To create a <code>havok/widget/DropdownToggle</code> programatically, pass an instance of <code>havok/widget/_BaseDropdown</code> to the <code>dropdown</code> property, and the markup to create the button to the <code>innerHTML</code> property.</p>
<div class="bs-docs-example">
    <div id="dropdownPosition1"></div>
    <script type="text/javascript">
        require(['dojo/dom', 'dojo/dom-construct', 'havok/widget/Dropdown', 'havok/widget/DropdownToggle', 'havok/bootstrap!'],
        function(dom, domConstruct, Dropdown, DropdownToggle){

            /*create the button and add it to the dom*/
            var button = domConstruct.place('<button class="btn">Click me</button>', dom.byId('dropdownPosition1'));

            /*create the dropdown widget*/
            var dropdown = new Dropdown;
            dropdown.addItem('<a href="">Action</a>');
            dropdown.addItem('<a href="">Another Action</a>');
            dropdown.addItem('<a href="">Something else here</a>');
            dropdown.addItem('<hr />');
            dropdown.addItem('<a href="">Separated Link</a>');
            dom.byId('dropdownPosition1').appendChild(dropdown.domNode);

            /*create and start the dropdown toggle*/
            var dropdownToggle = new DropdownToggle({dropdown: dropdown, button: button});
            dom.byId('dropdownPosition1').appendChild(dropdownToggle.domNode);
            dropdownToggle.startup();
        })
    </script>
</div>
<pre class="prettyprint linenums">
{% set dropdownToggleExample4 %}
<div id="dropdownPosition1"></div>
<script type="text/javascript">
    require(['dojo/dom', 'dojo/dom-construct', 'havok/widget/Dropdown', 'havok/widget/DropdownToggle', 'havok/bootstrap!'],
    function(dom, domConstruct, Dropdown, DropdownToggle){

        /*create the button and add it to the dom*/
        var button = domConstruct.place('<button class="btn">Click me</button>', dom.byId('dropdownPosition1'));

        /*create the dropdown widget*/
        var dropdown = new Dropdown;
        dropdown.addItem('<a href="">Action</a>');
        dropdown.addItem('<a href="">Another Action</a>');
        dropdown.addItem('<a href="">Something else here</a>');
        dropdown.addItem('<hr />');
        dropdown.addItem('<a href="">Separated Link</a>');
        dom.byId('dropdownPosition1').appendChild(dropdown.domNode);

        /*create and start the dropdown toggle*/
        var dropdownToggle = new DropdownToggle({dropdown: dropdown, button: button});
        dom.byId('dropdownPosition1').appendChild(dropdownToggle.domNode);
        dropdownToggle.startup();
    })
</script>{% endset %}{{dropdownToggleExample4|e}}
</pre>

<h2>Fine grained control</h2>

<p>Use the <code>dropdown-toggle-target</code> control exactly which element in the markup will respond to a click.</p>
<div class="bs-docs-example">
    <dropdown-toggle class="well">
        <p>Extra text</p>
        <button dropdown-toggle-target class="btn">Show Dropdown</button>
        <dropdown>
            <a href="">Action</a>
            <a href="">Another action</a>
            <a href="">Something else here</a>
            <hr />
            <a href="">Separated link</a>
        </dropdown>
    </dropdown-toggle>
</div>
<pre class="prettyprint linenums">
{% set dropdownToggleExample5 %}
<dropdown-toggle class="well">
    <p>Extra text</p>
    <button dropdown-toggle-target class="btn">Show Dropdown</button>
    <dropdown>
        <a href="">Action</a>
        <a href="">Another action</a>
        <a href="">Something else here</a>
        <hr />
        <a href="">Separated link</a>
    </dropdown>
</dropdown-toggle>{% endset %}{{dropdownToggleExample5|e}}
</pre>

<h2>See also</h2>

<p>Api documentation:</p>
<ul>
    <li><a href="/api/havok/widget/DropdownToggle.html">havok/widget/DropdownToggle</a></li>
</ul>
