<h1>Navbar</h1>

<h2>Basic navbar</h2>

<p>Use <code>w-nav-bar</code> tag to create a <a href="/api/havok/widget/NavBar.html">havok/widget/NavBar</a>.</p>

<p>Put a nav bar anywhere within a <code>.container</code>, which sets the width of your site and content.</p>

<div class="bs-docs-example">
    <w-nav-bar>
        <a class="brand">Title</a>
        <w-nav-bar-links>
            <a class="active">Home</a>
            <a>Link</a>
            <a>Link</a>
        </w-nav-bar-links>
    </w-nav-bar>
</div>
<pre class="prettyprint linenums">
{% set navBarExample1 %}
<w-nav-bar>
    <a class="brand">Title</a>
    <w-nav-bar-links>
        <a class="active">Home</a>
        <a>Link</a>
        <a>Link</a>
    </w-nav-bar-links>{% endset %}{{navBarExample1|e}}
</w-nav-bar>
</pre>

<h2>Navbar components</h2>

<h3>Brand</h3>
<p>A simple link to show your brand or project name only requires an anchor tag.</p>
<div class="bs-docs-example">
    <w-nav-bar>
        <a class="brand" href="#">Title</a>
    </w-nav-bar>
</div>
<pre class="prettyprint linenums">
{% set navBarExample2 %}
<w-nav-bar>
    <a class="brand" href="#">Title</a>{% endset %}{{navBarExample2|e}}
</w-nav-bar>
</pre>

<h3>Nav links</h3>
<p>Nav items are simple to add via the <code>nav-bar-links</code> tag, which creates a <a href="/api/havok/widget/NavBarLinks.html">havok/widget/NavBarLinks</a> widget.</p>
<div class="bs-docs-example">
    <w-nav-bar>
        <w-nav-bar-links>
            <a class="active">Home</a>
            <a>Link</a>
            <a>Link</a>
        </w-nav-bar-links>
    </w-nav-bar>
</div>
<pre class="prettyprint linenums">
{% set navBarExample3 %}
<w-nav-bar>
    <w-nav-bar-links>
        <a class="active">Home</a>
        <a>Link</a>
        <a>Link</a>
    </w-nav-bar-links>
</w-nav-bar>{% endset %}{{navBarExample3|e}}
</pre>

<p>You can easily add dividers to your nav links with an empty list item and a simple class. Just use the <code>hr</code> tag.</p>
<div class="bs-docs-example">
    <w-nav-bar>
        <w-nav-bar-links>
            <a class="active">Home</a>
            <hr />
            <a>Link</a>
            <hr />
            <a>Link</a>
        </w-nav-bar-links>
    </w-nav-bar>
</div>
<pre class="prettyprint linenums">
{% set navBarExample4 %}
<w-nav-bar>
    <w-nav-bar-links>
        <a class="active">Home</a>
        <hr />
        <a>Link</a>
        <hr />
        <a>Link</a>
    </w-nav-bar-links>
</w-nav-bar>{% endset %}{{navBarExample4|e}}
</pre>

<h3>Forms</h3>
<p>To properly style and position a form within the navbar, add the appropriate classes as shown below. For a default form, include <code>.navbar-form</code> and either <code>.pull-left</code> or <code>.pull-right</code> to properly align it.</p>
<div class="bs-docs-example">
    <w-nav-bar>
        <form class="navbar-form pull-left">
            <input type="text">
            <button type="submit" class="btn">Submit</button>
        </form>
    </w-nav-bar>
</div>
<pre class="prettyprint linenums">
{% set navBarExample5 %}
<w-nav-bar>
    <form class="navbar-form pull-left">
        <input type="text">
        <button type="submit" class="btn">Submit</button>
    </form>
</w-nav-bar>{% endset %}{{navBarExample5|e}}
</pre>

<h3>Search form</h3>
<p>For a more customized search form, add <code>.navbar-search</code> to the <code>form</code> and <code>.search-query</code> to the input for specialized styles in the navbar.</p>
<div class="bs-docs-example">
    <w-nav-bar>
        <form class="navbar-search pull-left">
            <input type="text" class="search-query" placeholder="Search">
        </form>
    </w-nav-bar>
</div>
<pre class="prettyprint linenums">
{% set navBarExample6 %}
<w-nav-bar>
    <form class="navbar-search pull-left">
        <input type="text" class="search-query" placeholder="Search">
    </form>
</w-nav-bar>{% endset %}{{navBarExample6|e}}
</pre>

<h3>Component alignment</h3>
<p>Align nav links, search form, or text, use the <code>.pull-left</code> or <code>.pull-right</code> utility classes. Both classes will add a CSS float in the specified direction.</p>

<h3>Using dropdowns</h3>
<p>Use <code>dropdown-toggle</code> and <code>dropdown</code> inside a links list.</p>
<div class="bs-docs-example">
    <w-nav-bar>
        <w-nav-bar-links>
            <a class="active">Home</a>
            <w-dropdown-toggle>
                <a>Dropdown <span class="caret"></span></a>
                <w-dropdown>
                    <a>Item 1</a>
                    <a>Item 2</a>
                </w-dropdown>
            </w-dropdown-toggle>
        </w-nav-bar-links>
    </w-nav-bar>
</div>
<pre class="prettyprint linenums">
{% set navBarExample7 %}
<w-nav-bar>
    <w-nav-bar-links>
        <a class="active">Home</a>
        <w-dropdown-toggle>
            <a>Dropdown <span class="caret"></span></a>
            <w-dropdown>
                <a>Item 1</a>
                <a>Item 2</a>
            </w-dropdown>
        </w-dropdown-toggle>
    </w-nav-bar-links>
</w-nav-bar>{% endset %}{{navBarExample7|e}}
</pre>

<h3>Text</h3>
<p>Wrap strings of text in an element with <code>.navbar-text</code>, usually on a <code>&lt;p&gt;</code> tag for proper leading and color.</p>

<hr class="bs-docs-separator">

<h2>Optional display variations</h2>
<p>Fix the navbar to the top or bottom of the viewport with an additional class on the outermost div, <code>.navbar</code>.</p>

<h3>Fixed to top</h3>
<p>Add <code>.navbar-fixed-top</code> and remember to account for the hidden area underneath it by adding at least 40px <code>padding</code> to the <code>&lt;body&gt;</code>. Be sure to add this after the core Bootstrap CSS and before the optional responsive CSS.</p>
<div class="bs-docs-example bs-navbar-top-example">
    <w-nav-bar class="navbar-fixed-top" style="position: absolute;">
        <div class="container" style="width: auto; padding: 0 20px;">
            <a class="brand" href="">Title</a>
            <ul class="nav">
                <li class="active"><a href="">Home</a></li>
                <li><a href="">Link</a></li>
                <li><a href="">Link</a></li>
            </ul>
        </div>
    </w-nav-bar>
</div>
<pre class="prettyprint linenums">
{% set navBarExample8 %}
<w-nav-bar class="navbar-fixed-top" style="position: absolute;">
    <div class="container" style="width: auto; padding: 0 20px;">
        <a class="brand" href="">Title</a>
        <ul class="nav">
            <li class="active"><a href="">Home</a></li>
            <li><a href="">Link</a></li>
            <li><a href="">Link</a></li>
        </ul>
    </div>
</w-nav-bar>{% endset %}{{navBarExample8|e}}
</pre>

<h3>Fixed to bottom</h3>
<p>Add <code>.navbar-fixed-bottom</code> instead.</p>
<div class="bs-docs-example bs-navbar-bottom-example">
    <w-nav-bar class="navbar-fixed-bottom" style="position: absolute;">
        <div class="container" style="width: auto; padding: 0 20px;">
            <a class="brand" href="#">Title</a>
            <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </div>
    </w-nav-bar>
</div>
<pre class="prettyprint linenums">
{% set navBarExample9 %}
<w-nav-bar class="navbar-fixed-bottom" style="position: absolute;">
    <div class="container" style="width: auto; padding: 0 20px;">
        <a class="brand" href="#">Title</a>
        <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
        </ul>
    </div>
</w-nav-bar>{% endset %}{{navBarExample9|e}}
</pre>

<h3>Static top navbar</h3>
<p>Create a full-width navbar that scrolls away with the page by adding <code>.navbar-static-top</code>. Unlike the <code>.navbar-fixed-top</code> class, you do not need to change any padding on the <code>body</code>.</p>
<div class="bs-docs-example bs-navbar-top-example">
    <w-nav-bar class="navbar-static-top" style="margin: -1px -1px 0;">
        <div class="container" style="width: auto; padding: 0 20px;">
            <a class="brand" href="#">Title</a>
            <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </div>
    </w-nav-bar>
</div>
<pre class="prettyprint linenums">
{% set navBarExample10 %}
<w-nav-bar class="navbar-static-top" style="margin: -1px -1px 0;">
    <div class="container" style="width: auto; padding: 0 20px;">
        <a class="brand" href="#">Title</a>
        <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
        </ul>
    </div>
</w-nav-bar>{% endset %}{{navBarExample10|e}}
</pre>

<hr class="bs-docs-separator">

<h2>Responsive navbar</h2>
<p>To implement a collapsing responsive navbar, wrap your navbar content in a containing div, and use <code>data-havok-nav-bar-toggle</code> with <code>data-havok-nav-bar-toggle-target</code></p>

<div class="bs-docs-example">
    <w-nav-bar>
        <a data-havok-nav-bar-toggle>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="">Title</a>
        <div data-havok-nav-bar-toggle-target>
            <w-nav-bar-links>
                <a class="active" href="">Home</a>
                <a href="">Link 1</a>
                <a href="">Link 2</a>
                <w-dropdown-toggle>
                    <a href="">Dropdown <span class="caret"></span></a>
                    <w-dropdown>
                        <a href="">Action</a>
                        <a href="">Another action</a>
                        <a href="">Something else here</a>
                        <hr />
                        <li class="nav-header">Nav Header</li>
                        <a href="">Separated link</a>
                        <a href="">One more separated link</a>
                    </w-dropdown>
                </w-dropdown-toggle>
            </w-nav-bar-links>
            <form class="navbar-search pull-left" action="">
                <input type="text" class="search-query span8" placeholder="Search">
            </form>
            <w-nav-bar-links class="pull-right">
                <a href="">Link</a>
                <hr />
                <w-dropdown-toggle>
                    <a href="">Dropdown <span class="caret"></span></a>
                    <w-dropdown>
                        <a href="">Action</a>
                        <a href="">Another action</a>
                        <a href="">Something else here</a>
                        <hr />
                        <a href="">Separated link</a>
                    </w-dropdown>
                </w-dropdown-toggle>
            </w-nav-bar-links>
        </div>
    </w-nav-bar>
</div>
<pre class="prettyprint linenums">
{% set navBarExample11 %}
<w-nav-bar>
    <a data-havok-nav-bar-toggle>
        <!-- this is displayed when the navbar is collapsed -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
    <a class="brand" href="">Title</a>
    <div data-havok-nav-bar-toggle-target>
        <!-- this is displayed when the navbar is not collapsed -->
        <w-nav-bar-links>
            <a class="active" href="">Home</a>
            <a href="">Link 1</a>
            <a href="">Link 2</a>
            <w-dropdown-toggle>
                <a href="">Dropdown <span class="caret"></span></a>
                <w-dropdown>
                    <a href="">Action</a>
                    <a href="">Another action</a>
                    <a href="">Something else here</a>
                    <hr />
                    <li class="nav-header">Nav Header</li>
                    <a href="">Separated link</a>
                    <a href="">One more separated link</a>
                </w-dropdown>
            </w-dropdown-toggle>
        </w-nav-bar-links>
        <form class="navbar-search pull-left" action="">
            <input type="text" class="search-query span8" placeholder="Search">
        </form>
        <w-nav-bar-links class="pull-right">
            <a href="">Link</a>
            <hr />
            <w-dropdown-toggle>
                <a href="">Dropdown <span class="caret"></span></a>
                <w-dropdown>
                    <a href="">Action</a>
                    <a href="">Another action</a>
                    <a href="">Something else here</a>
                    <hr />
                    <a href="">Separated link</a>
                </w-dropdown>
            </w-dropdown-toggle>
        </w-nav-bar-links>
    </div>
</w-nav-bar>{% endset %}{{navBarExample11|e}}
</pre>

<hr class="bs-docs-separator">


<h2>Inverted variation</h2>
<p>Modify the look of the navbar by adding <code>.navbar-inverse</code>.</p>

<div class="bs-docs-example">
    <w-nav-bar class="navbar-inverse">
        <a data-havok-nav-bar-toggle>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="">Title</a>
        <div data-havok-nav-bar-toggle-target>
            <w-nav-bar-links>
                <a class="active" href="">Home</a>
                <a href="">Link 1</a>
                <a href="">Link 2</a>
                <w-dropdown-toggle>
                    <a href="">Dropdown <span class="caret"></span></a>
                    <w-dropdown>
                        <a href="">Action</a>
                        <a href="">Another action</a>
                        <a href="">Something else here</a>
                        <hr />
                        <li class="nav-header">Nav Header</li>
                        <a href="">Separated link</a>
                        <a href="">One more separated link</a>
                    </w-dropdown>
                </w-dropdown-toggle>
            </w-nav-bar-links>
            <form class="navbar-search pull-left" action="">
                <input type="text" class="search-query span8" placeholder="Search">
            </form>
            <w-nav-bar-links class="pull-right">
                <a href="">Link</a>
                <hr />
                <w-dropdown-toggle>
                    <a href="">Dropdown <span class="caret"></span></a>
                    <w-dropdown>
                        <a href="">Action</a>
                        <a href="">Another action</a>
                        <a href="">Something else here</a>
                        <hr />
                        <a href="">Separated link</a>
                    </w-dropdown>
                </w-dropdown-toggle>
            </w-nav-bar-links>
        </div>
    </w-nav-bar>
</div>

<pre class="prettyprint linenums">
{% set navBarExample12 %}
<w-nav-bar class="navbar-inverse">
    ...
</w-nav-bar>{% endset %}{{navBarExample12|e}}
</pre>

<h2>See also</h2>

<p>Using navbar lists with <a href="#stores">stores</a>.</p>

<p>Api documentation:</p>
<ul>
    <li><a href="/api/havok/widget/NavBar.html">havok/widget/NavBar</a></li>
    <li><a href="/api/havok/widget/NavBarList.html">havok/widget/NavBarList</a></li>
</ul>
