<h1>Nav: tabs, pills, and lists</h1>

<h2>Basic tabs</h2>
<p>Use the <code>nav-tab</code> tag to create an instance of <a href="/api/havok/widget/NavTab.html">havok/widget/NavTab</a>:</p>
<div class="bs-docs-example">
    <nav-tab>
        <a class="active" href="">Home</a>
        <a href="">Profile</a>
        <a href="">Messages</a>
    </nav-tab>
</div>
<pre class="prettyprint linenums">
{% set navExample1 %}
<nav-tab>
    <a class="active" href="">Home</a>
    <a href="">Profile</a>
    <a href="">Messages</a>
</nav-tab>{% endset %}{{navExample1|e}}
</pre>

<h2>Basic pills</h2>
<p>Use the <code>nav-pill</code> tag to create an instance of <a href="/api/havok/widget/NavPill.html">havok/widget/NavPill</a>:</p>
<div class="bs-docs-example">
    <nav-pill>
        <a class="active" href="">Home</a>
        <a href="">Profile</a>
        <a href="">Messages</a>
    </nav-pill>
</div>
<pre class="prettyprint linenums">
{% set navExample2 %}
<nav-pill>
    <a class="active" href="">Home</a>
    <a href="">Profile</a>
    <a href="">Messages</a>
</nav-pill>{% endset %}{{navExample2|e}}
</pre>

<h2>Click events</h2>
<p>If the <code>href</code> attribute is an empty string, the active nav item will be changed. If the <code>href</code> attribute is not empty, the link will be followed. Eg:</p>
<div class="bs-docs-example">
    <nav-tab>
        <a class="active" href="">Home</a>
        <a href="">tab 1</a>
        <a href="">tab 2</a>
        <a href="#navs">#navs anchor</a>
        <a href="http://github.com">github.com</a>
    </nav-tab>
</div>
<pre class="prettyprint linenums">
{% set navExample3 %}
<nav-tab>
    <a class="active" href="">Home</a>
    <a href="">tab 1</a>
    <a href="">tab 2</a>
    <a href="#navs">#navs anchor</a>
    <a href="http://github.com">github.com</a>
</nav-tab>{% endset %}{{navExample3|e}}
</pre>

<p>To listen to click events, use the <code>.on('item-click', callback)</code> method. Eg:
<div class="bs-docs-example">
    <nav-tab id="navTabs1">
        <a class="active" href="">tab 0</a>
        <a href="">tab 1</a>
        <a href="">tab 2</a>
    </nav-tab>
    <script type="text/javascript">
        require(['dijit/registry', 'havok/parser/complete!'], function(registry){
            registry.byId('navTabs1').on('item-click', function(item){
                alert('Just clicked item: ' + item.innerHTML)
            })
        })
    </script>
</div>
<pre class="prettyprint linenums">
{% set navExample4 %}
<nav-tab id="navTabs1">
    <a class="active" href="">tab 0</a>
    <a href="">tab 1</a>
    <a href="">tab 2</a>
</nav-tab>
<script type="text/javascript">
    require(['dijit/registry', 'havok/parser/complete!'], function(registry){
        registry.byId('navTabs1').on('item-click', function(item){
            alert('Just clicked item: ' + item.innerHTML)
        })
    })
</script>{% endset %}{{navExample4|e}}
</pre>

<h2>Watching active item</h2>
<p>To watch the active item in code, use the <code>.watch('active', callback)</code> method. Note, this is different to <code>.on('item-click', callback)</code>, as it will only fire when the active item is changed, not on every click. Eg:
<div class="bs-docs-example">
    <nav-tab id="navTabs2">
        <a class="active" href="">tab 0</a>
        <a href="">tab 1</a>
        <a href="">tab 2</a>
    </nav-tab>
    <script type="text/javascript">
        require(['dijit/registry', 'havok/parser/complete!'], function(registry){
            registry.byId('navTabs2').watch('active', function(property, oldValue, newValue){
                alert('Previously active tab: ' + oldValue.innerHTML + '. Currently active tab: ' + newValue.innerHTML)
            })
        })
    </script>
</div>
<pre class="prettyprint linenums">
{% set navExample5 %}
<nav-tab id="navTabs2">
    <a class="active" href="">tab 0</a>
    <a href="">tab 1</a>
    <a href="">tab 2</a>
</nav-tab>
<script type="text/javascript">
    require(['dijit/registry', 'havok/parser/complete!'], function(registry){
        registry.byId('navTabs2').watch('active', function(property, oldValue, newValue){
            alert('Previously active tab: ' + oldValue.innerHTML + '. Currently active tab: ' + newValue.innerHTML)
        })
    })
</script>{% endset %}{{navExample5|e}}
</pre>

<h2>Component alignment</h2>
<p>To align nav links, use the <code>.pull-left</code> or <code>.pull-right</code> utility classes. Both classes will add a CSS float in the specified direction.</p>

<h2>Programatic example</h2>
<div class="bs-docs-example">
    <div id="nav1"></div>
    <script type="text/javascript">
        require(['dojo/dom', 'havok/widget/NavPill', 'dojo/domReady!'], function(dom, NavPill){
            var nav = new NavPill;
            nav.addItem('<a class="active" href="">Home</a>');
            nav.addItem('<a href="">Profile</a>');
            nav.addItem('<a href="">Messages</a>');
            dom.byId('nav1').appendChild(nav.domNode);
            nav.startup();
        })
    </script>
</div>
<pre class="prettyprint linenums">
{% set navExample6 %}
<div id="nav1"></div>
<script type="text/javascript">
    require(['dojo/dom', 'havok/widget/NavPill', 'dojo/domReady!'], function(dom, NavPill){
        var nav = new NavPill;
        nav.addItem('<a class="active" href="">Home</a>');
        nav.addItem('<a href="">Profile</a>');
        nav.addItem('<a href="">Messages</a>');
        dom.byId('nav1').appendChild(nav.domNode);
        nav.startup();
    })
</script>{% endset %}{{navExample6|e}}
</pre>

<h2>Disabled state</h2>
<p>For any nav component (tabs, pills, or list), add <code>.disabled</code> to the item for <strong>gray links and no hover effects</strong>. Links will not be clickable.</p>
<div class="bs-docs-example">
    <nav-pill>
        <a href="">Clickable link</a>
        <a href="">Clickable link</a>
        <a class="disabled" href="">Disabled link</a>
    </nav-pill>
</div>
<pre class="prettyprint linenums">
{% set navExample7 %}
<nav-pill>
    <a href="">Clickable link</a>
    <a href="">Clickable link</a>
    <a class="disabled" href="">Disabled link</a>
</nav-pill>{% endset %}{{navExample7|e}}
</pre>

<h2>Stackable</h2>
<p>As tabs and pills are horizontal by default, just add a class, <code>.nav-stacked</code>, to make them appear vertically stacked.</p>

<h3>Stacked tabs</h3>
<div class="bs-docs-example">
    <nav-tab class="nav-stacked">
        <a class="active" href="">Home</a>
        <a href="">Profile</a>
        <a href="">Messages</a>
    </nav-tab>
</div>
<pre class="prettyprint linenums">
{% set navExample8 %}
<nav-tab class="nav-stacked">
    <a class="active" href="">Home</a>
    <a href="">Profile</a>
    <a href="">Messages</a>
</nav-tab>{% endset %}{{navExample8|e}}
</pre>

<h3>Stacked pills</h3>
<div class="bs-docs-example">
    <nav-pill class="nav-stacked">
        <a class="active" href="">Home</a>
        <a href="">Profile</a>
        <a href="">Messages</a>
    </nav-pill>
</div>
<pre class="prettyprint linenums">
{% set navExample9 %}
<nav-pill class="nav-stacked">
    <a class="active" href="">Home</a>
    <a href="">Profile</a>
    <a href="">Messages</a>
</nav-pill>{% endset %}{{navExample9|e}}
</pre>

<h2>Dropdowns</h2>
<p>Add dropdown menus with the <code>dropdown-toggle</code> tag.</p>

<h3>Tabs with dropdowns</h3>
<div class="bs-docs-example">
    <nav-tab>
        <a class="active" href="">Home</a>
        <a href="">Help</a>
        <dropdown-toggle>
            <a href="">Dropdown <b class="caret"></b></a>
            <dropdown>
                <a href="">Action</a>
                <a href="">Another action</a>
                <a href="">Something else here</a>
                <hr />
                <a href="">Separated link</a>
            </dropdown>
        </dropdown-toggle>
    </nav-tab>
</div>
<pre class="prettyprint linenums">
{% set navExample10 %}
<nav-tab>
    <a class="active" href="">Home</a>
    <a href="">Help</a>
    <dropdown-toggle>
        <a href="">Dropdown <b class="caret"></b></a>
        <dropdown>
            <a href="">Action</a>
            <a href="">Another action</a>
            <a href="">Something else here</a>
            <hr />
            <a href="">Separated link</a>
        </dropdown>
    </dropdown-toggle>
</nav-tab>
{% endset %}{{navExample10|e}}
</pre>

<h3>Pills with dropdowns</h3>
<div class="bs-docs-example">
    <nav-pill>
        <a class="active" href="">Home</a>
        <a href="">Help</a>
        <dropdown-toggle>
            <a href="">Dropdown <b class="caret"></b></a>
            <dropdown>
                <a href="">Action</a>
                <a href="">Another action</a>
                <a href="">Something else here</a>
                <hr />
                <a href="">Separated link</a>
            </dropdown>
        </dropdown-toggle>
    </nav-pill>
</div>
<pre class="prettyprint linenums">
{% set navExample11 %}
<nav-pill>
    <a class="active" href="">Home</a>
    <a href="">Help</a>
    <dropdown-toggle>
        <a href="">Dropdown <b class="caret"></b></a>
        <dropdown>
            <a href="">Action</a>
            <a href="">Another action</a>
            <a href="">Something else here</a>
            <hr />
            <a href="">Separated link</a>
        </dropdown>
    </dropdown-toggle>
</nav-pill>{% endset %}{{navExample11|e}}
</pre>

<hr class="bs-docs-separator">

<h2>Nav lists</h2>
<p>A simple and easy way to build groups of nav links with optional headers.</p>
<p>Take a list of links and use the <code>nav-list</code> tag to create a <a href="/api/havok/widget/NavList.html">havok/widget/NavList</a>.</p>

<h3>Markup nav list Example</h3>
<p>If using markup, add <code>class="nav-header"</code> to create headers:</p>
<div class="bs-docs-example">
    <div class="well" style="max-width: 340px; padding: 8px 0;">
        <nav-list>
            <li class="nav-header">List header</li>
            <a class="active" href="">Home</a>
            <a href="">Library</a>
            <a href="">Applications</a>
            <li class="nav-header">Another list header</li>
            <a href="">Profile</a>
            <a href="">Settings</a>
            <hr />
            <a href="">Help</a>
        </nav-list>
    </div>
</div>
<pre class="prettyprint linenums">
{% set navExample12 %}
<nav-list>
    <li class="nav-header">List header</li>
    <a class="active" href="">Home</a>
    <a href="">Library</a>
    <a href="">Applications</a>
    <li class="nav-header">Another list header</li>
    <a href="">Profile</a>
    <a href="">Settings</a>
    <hr />
    <a href="">Help</a>
</nav-list>{% endset %}{{navExample12|e}}
</pre>

<hr class="bs-docs-separator">

<h2>Tree Navigation</h2>
<p>Use the <code>tree</code> tag to create an instance of <a href="/api/havok/wiget/Tree.html">havok/widget/Tree</a>:</p>
<div class="bs-docs-example">
    <tree>
        <li>
            <a>One</a>
            <ol>
                <li>
                    <a>One One</a>
                    <ol>
                        <li><a>One One One</a></li>
                        <li><a>One One Two</a></li>
                    </ol>
                </li>
                <li><a>One Two</a></li>
                <li><a>One Three</a></li>
            </ol>
        </li>
        <li>
            <a>Two</a>
            <ol>
                <li><a>Two One</a></li>
                <li><a>Two Two</a></li>
            </ol>
        </li>
        <li><a>Three</a></li>
        <li><a>Four</a></li>
        <li><a>Five</a></li>
    </tree>
</div>
<pre class="prettyprint linenums">
{% set navExample13 %}
<tree>
    <li>
        <a>One</a>
        <ol>
            <li>
                <a>One One</a>
                <ol>
                    <li><a>One One One</a></li>
                    <li><a>One One Two</a></li>
                </ol>
            </li>
            <li><a>One Two</a></li>
            <li><a>One Three</a></li>
        </ol>
    </li>
    <li>
        <a>Two</a>
        <ol>
            <li><a>Two One</a></li>
            <li><a>Two Two</a></li>
        </ol>
    </li>
    <li><a>Three</a></li>
    <li><a>Four</a></li>
    <li><a>Five</a></li>
</tree>{% endset %}{{navExample13|e}}
</pre>

<hr class="bs-docs-separator">

<h2>See also</h2>

<p>Using lists with <a href="#stores">stores</a>.</p>
<p>Creating <a href="#drag-sort">sortable</a> lists.</p>

<p>Api documentation:</p>
<ul>
    <li><a href="/api/havok/widget/NavList.html">havok/widget/NavList</a></li>
    <li><a href="/api/havok/widget/NavPill.html">havok/widget/NavPill</a></li>
    <li><a href="/api/havok/widget/NavTab.html">havok/widget/NavTab</a></li>
    <li><a href="/api/havok/widget/Tree.html">havok/widget/Tree</a></li>
</ul>