<h1>Dropdown menus</h1>

<p>Clean and simple dropdown style menus for lists, or anything else.</p>

<h2>DropdownContainer</h2>

<p class="lead">A dropdown for displaying anything.</p>

<p>Use the <code>dropdown-container</code> tag to create a <a href="/api/havok/widget/DropdownContainer.html">havok/widget/DropdownContainer</a> widget. An empty dropdown that can be filled with whatever content you choose.</p>

<div class="bs-docs-example">
    <div class="dropdown clearfix">
        <w-dropdown-container hidden="false" class="docs-dropdown-example">
            <h5>Stuff here</h5>
            <p>This is stuff inside a dropdown</p>
        </w-dropdown-container>
    </div>
</div>
<pre class="prettyprint linenums">
{% set dropdownExample1 %}
<w-dropdown-container>
    <h5>Stuff here</h5>
    <p>This is stuff inside a dropdown</p>
</w-dropdown-container>{% endset %}{{dropdownExample1|e}}
</pre>

<hr class="bs-docs-separator">

<h2>Dropdown</h2>

<p class="lead">Dropdown to show a list of links.</p>

<p>Use the <code>dropdown</code> tag to create a <a href="/api/havok/widget/Dropdown.html">havok/widget/Dropdown</a> widget.</p>

<h3>Declarative Example</h3>
<div class="bs-docs-example">
    <div class="dropdown clearfix">
        <w-dropdown hidden="false" class="docs-dropdown-example">
            <a href="">Action</a>
            <a href="">Another action</a>
            <a href="">Something else here</a>
            <hr />
            <a href="">Separated link</a>
        </w-dropdown>
    </div>
</div>
<pre class="prettyprint linenums">
{% set dropdownExample2 %}
<w-dropdown>
    <a href="">Action</a>
    <a href="">Another action</a>
    <a href="">Something else here</a>
    <hr />
    <a href="">Separated link</a>
</w-dropdown>{% endset %}{{dropdownExample2|e}}
</pre>

<h3>Programatic Example</h3>
<div class="bs-docs-example">
    <div id="dropdown1" class="dropdown clearfix">
        <script type="text/javascript">
            require(['dojo/dom', 'havok/widget/Dropdown', 'dojo/domReady!'], function(dom, Dropdown){
                var dropdown = new Dropdown({hidden: false, style: 'display: block; position: static; margin-bottom: 5px; *width: 180px;'});
                dropdown.addItem('<a href="">Action</a>');
                dropdown.addItem('<a href="">Another Action</a>');
                dropdown.addItem('<a href="">Something else here</a>');
                dropdown.addItem('<hr />');
                dropdown.addItem('<a href="">Separated link</a>');
                dom.byId('dropdown1').appendChild(dropdown.domNode);
                dropdown.startup();
            })
        </script>
    </div>
</div>
<pre class="prettyprint linenums">
{% set dropdownExample3 %}
require(['dojo/dom', 'havok/widget/Dropdown', 'dojo/domReady!'], function(dom, Dropdown){
    var dropdown = new Dropdown;
    dropdown.addItem('<a href="">Action</a>');
    dropdown.addItem('<a href="">Another Action</a>');
    dropdown.addItem('<a href="">Something else here</a>');
    dropdown.addItem('<hr />');
    dropdown.addItem('<a href="">Separated link</a>');
    dom.byId('dropdown1').appendChild(dropdown.domNode);
    dropdown.startup();
}){% endset %}{{dropdownExample3|e}}
</pre>

<h3>Click events</h3>
<p>If the <code>href</code> attribute is an empty string, the active property will be changed. If the <code>href</code> attribute is not empty, the link will be followed. Eg:</p>
<div class="bs-docs-example">
    <div class="dropdown clearfix">
        <w-dropdown hidden="false" class="docs-dropdown-example">
            <a href="">item 1</a>
            <a href="">item 2</a>
            <a href="">item 3</a>
            <a href="#dropdowns">#dropdowns anchor</a>
            <a href="http://github.com">github.com</a>
        </w-dropdown>
    </div>
</div>
<pre class="prettyprint linenums">
{% set dropdownExample4 %}
<w-dropdown>
    <a href="">item 1</a>
    <a href="">item 2</a>
    <a href="">item 3</a>
    <a href="#dropdowns">#dropdowns anchor</a>
    <a href="http://github.com">github.com</a>
</w-dropdown>{% endset %}{{dropdownExample4|e}}
</pre>

<p>To listen to click events, use the <code>.on('item-click', callback)</code> method. Eg:
<div class="bs-docs-example">
    <div class="dropdown clearfix">
        <w-dropdown hidden="false" id="dropdownClick1" class="docs-dropdown-example">
            <a href="">item 0</a>
            <a href="">item 1</a>
            <a href="">item 2</a>
        </w-dropdown>
        <script type="text/javascript">
            require(['dijit/registry', 'havok/ready!'], function(registry){
                registry.byId('dropdownClick1').on('item-click', function(e){
                    alert('Just clicked item: ' + e.item.innerHTML)
                })
            })
        </script>
    </div>
</div>
<pre class="prettyprint linenums">
{% set dropdownExample5 %}
<w-dropdown id="dropdownClick1">
    <a href="">item 0</a>
    <a href="">item 1</a>
    <a href="">item 2</a>
</w-dropdown>
<script type="text/javascript">
    require(['dijit/registry', 'havok/ready!'], function(registry){
        registry.byId('dropdownClick1').on('item-click', function(e){
            alert('Just clicked item: ' + e.item.innerHTML)
        })
    })
</script>{% endset %}{{dropdownExample5|e}}
</pre>

<h3>Disabled menu options</h3>
<p>Add <code>.disabled</code> to an item in the dropdown to disable the link. Disabled links are not clickable.</p>
<div class="bs-docs-example">
    <div class="dropdown clearfix">
        <w-dropdown hidden="false" class="docs-dropdown-example">
            <a href="">Regular link</a>
            <a class="disabled" href="">Disabled link</a>
            <a href="">Another link</a>
        </w-dropdown>
    </div>
</div>
<pre class="prettyprint linenums">
{% set dropdownExample6 %}
<w-dropdown>
    <a href="">Regular link</a>
    <a class="disabled" href="">Disabled link</a>
    <a href="">Another link</a>
</w-dropdown>{% endset %}{{dropdownExample6|e}}
</pre>

<h3>Sub menus on dropdowns</h3>
<p>To add an extra level of dropdown menus, wrap with the <code>dropdown-submenu</code> tag.</p>

<div class="bs-docs-example bs-docs-example-submenus">
    <div class="pull-left">
        <p class="muted">Default</p>
        <div class="dropdown clearfix">
            <w-dropdown hidden="false">
                <a href="">Action</a>
                <a href="">Another action</a>
                <a href="">Something else here</a>
                <hr />
                <w-dropdown-submenu>
                    <a href="">More options</a>
                    <w-dropdown>
                        <a href="">Second level link</a>
                        <a href="">Second level link</a>
                        <a href="">Second level link</a>
                        <a href="">Second level link</a>
                        <a href="">Second level link</a>
                    </w-dropdown>
                </w-dropdown-submenu>
            </w-dropdown>
        </div>
    </div>

    <div class="pull-left">
        <p class="muted">Dropup</p>
        <div class="dropdown clearfix">
            <w-dropdown hidden="false">
                <a href="">Action</a>
                <a href="">Another action</a>
                <a href="">Something else here</a>
                <hr />
                <w-dropdown-submenu toggle-placement="bottom-right" dropdown-placement="bottom-left">
                    <a href="">More options</a>
                    <w-dropdown>
                        <a href="">Second level link</a>
                        <a href="">Second level link</a>
                        <a href="">Second level link</a>
                        <a href="">Second level link</a>
                        <a href="">Second level link</a>
                    </w-dropdown>
                </w-dropdown-submenu>
            </w-dropdown>
        </div>
    </div>

    <div class="pull-left">
        <p class="muted">Left submenu</p>
        <div class="dropdown">
            <w-dropdown hidden="false">
                <a href="">Action</a>
                <a href="">Another action</a>
                <a href="">Something else here</a>
                <hr />
                <w-dropdown-submenu toggle-placement="top-left" dropdown-placement="top-right">
                    <a href="">More options</a>
                    <w-dropdown>
                        <a href="">Second level link</a>
                        <a href="">Second level link</a>
                        <a href="">Second level link</a>
                        <a href="">Second level link</a>
                        <a href="">Second level link</a>
                    </w-dropdown>
                </w-dropdown-submenu>
            </w-dropdown>
        </div>
    </div>
</div>

<pre class="prettyprint linenums">
{% set dropdownExample7 %}
<w-dropdown>
    <a href="">Action</a>
    <a href="">Another action</a>
    <a href="">Something else here</a>
    <hr />
    <w-dropdown-submenu>
        <a href="">More options</a>
        <w-dropdown>
            <a href="">Second level link</a>
            <a href="">Second level link</a>
            <a href="">Second level link</a>
            <a href="">Second level link</a>
            <a href="">Second level link</a>
        </w-dropdown>
    </w-dropdown-submenu>
</w-dropdown>{% endset %}{{dropdownExample7|e}}
</pre>

<hr class="bs-docs-separator">

<h2>Date Dropdown</h2>

<div class="bs-docs-example bs-docs-example-submenus">
    <script type="text/javascript">
        require(['dijit/registry', 'dojo/dom', 'havok/ready!'], function(registry, dom){
            registry.byId('dateDropdown1').watch('date', function(property, oldValue, newValue){
                dom.byId('dateValue1').innerHTML = newValue;
            })
        })
    </script>
    <div class="dropdown clearfix">
        <w-date-dropdown id="dateDropdown1" hidden="false"></w-date-dropdown>
    </div>
    <div class="well"><p>Date: <span id="dateValue1"></span></p></div>
</div>

<pre class="prettyprint linenums">
{% set dropdownExample8 %}
<w-date-dropdown></w-date-dropdown>{% endset %}{{dropdownExample8|e}}
</pre>

<hr class="bs-docs-separator">

<h2>Color Dropdown</h2>

<div class="bs-docs-example bs-docs-example-submenus">
    <script type="text/javascript">
        require(['dijit/registry', 'dojo/dom', 'havok/ready!'], function(registry, dom){
            registry.byId('colorDropdown1').watch('value', function(property, oldValue, newValue){
                dom.byId('colorValue1').innerHTML = newValue;
            })
        })
    </script>
    <div class="dropdown clearfix">
        <w-color-dropdown id="colorDropdown1" hidden="false"></w-color-dropdown>
    </div>
    <div class="well"><p>Value: <span id="colorValue1"></span></p></div>
</div>

<pre class="prettyprint linenums">
{% set dropdownExample9 %}
<w-color-dropdown></w-color-dropdown>{% endset %}{{dropdownExample9|e}}
</pre>

<h2>See also</h2>

<p>Dropdowns are normally placed inside a <a href="#dropdown-toggle">dropdown-toggle</a>.</p>

<p>Api documentation:</p>
<ul>
    <li><a href="/api/havok/widget/DropdownContainer.html">havok/widget/DropdownContainer</a></li>
    <li><a href="/api/havok/widget/Dropdown.html">havok/widget/Dropdown</a></li>
    <li><a href="/api/havok/widget/DropdownSubmenu.html">havok/widget/DropdownSubmenu</a></li>
    <li><a href="/api/havok/widget/DateDropdown.html">havok/widget/DateDropdown</a></li>
</ul>
